body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-attachment: fixed;

}

body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  background-image: url('./assets/H1.png');
  background-size: 2000px;
  background-attachment: fixed;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: pulse 2s infinite;
}

h2 {
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-attachment: fixed;
}

h1:hover {
  transform: rotate(-5deg);
}

h2 a {
  color: #3498db;
  text-decoration: none;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

h2 a:hover {
  color: #ffffff;
  background-color: #3498db;
  text-decoration: underline;
}

.hotspot {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1.25em;
  font-weight: bold;
}

.hotspot label,
.hotspot select {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #3498db;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}

.hotspot select:hover {
  background-color: #3498db;
  color: #ffffff;
}

.station-select-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1.25em;
  font-weight: bold;
}

.station-select-container label,
.station-select-container select {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #3498db;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}

.station-select-container select:hover {
  background-color: #3498db;
  color: #ffffff;
}

.chart-title {
  color: #3498db;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

label {
  margin: 0;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.link-button {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  padding: 8px 16px;
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  border: 1px solid #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.link-button:hover {
  background: #675fdd;
  color: #fff;
  box-shadow: 0 0 5px #675fdd, 0 0 25px #675fdd, 0 0 50px #675fdd, 0 0 200px #675fdd;
  transform: scale(1.1);
  position: absolute;
  top: 20px;
  left: 20px;
}

.link-button:active {
  transform: translateY(2px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
