<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>YFECHOOUPA</h1>
    <h2>Graphique par station</h2>
    <table>
      <tr>
        <th>Station</th>
      </tr>
      {% for station in stations %}
      <tr>
        <td>
          <a href="/station/{{ station.station_id }}"
            >{{ station.station_name }}</a
          >
        </td>
      </tr>
      {% endfor %}
    </table>
    <h2>
      <a href="/chart/evolution_temperature"
        >Graphique de l'évolution des températures de chaque station</a
      >
    </h2>
    <h2>
      <a href="/chart/evolution_wind"
        >Nombre de jours où les éoliennes n'ont pas pu fonctionner</a
      >
    </h2>
  </body>
</html>
