<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>YFECHOOUPA</h1>
    <h2>Graphique par station</h2>
    <table>
      <tr>
        <th>Station</th>
        <th>Lien</th>
      </tr>
      {% for station in stations %}
      <tr>
        <td>{{ station.station_name }}</td>
        <td>
          <a href="/station/{{ station.station_id }}"></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
